@media only screen and (min-width: 800px) {
  .categories {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    min-height: 100vh;
  }

  .categories__wrapper {
    flex: 1 0 auto
  }

  .categories_title {
    margin: 1.25rem 2.5rem;
    color: #fff;
    font-weight: 500;
    font-size: 2rem;
    line-height: 2.25rem;
  }

  .categories_cards {
    padding: 5px 20px;
    margin: 0 auto;
    max-width: 1000px;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: center;
  }
}

@media only screen and (max-width: 908px) {
  .categories_cards {
    max-width: 560px;
  }
}

@media only screen and (max-width: 799px) {
  .categories_title {
    margin: 1.25rem 2.5rem;
    color: #fff;
    font-weight: 500;
    font-size: 1.75rem;
    line-height: 2rem;
  }

  .categories {
    min-height: 100vh;
  }
}

@media only screen and (max-width: 519px) {

  .categories_title {
    margin: 0.25rem 1rem 1rem;
    color: #fff;
    margin-left: 35px;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.5rem;
  }

  .categories_cards {
    gap: 1rem;
    padding-bottom: 50px;
  }
}