.settings_icon {
  display: block;
  background-image: url(../../images/ui_styles/setting.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 2rem;
  height: 2rem;
  transition: all .2s ease;
}


.settings_icon:hover {
  transform: rotate(90deg);
}

.categories_content {
  margin-top: 3rem;
}

.logo {
  display: block;
  background-image: url(../../images/ui_styles/logo.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 10rem;
  height: 3.75rem;
  margin: 0 1rem;
}

.nav_back-container {
  position: relative;
  padding: 0 10px;
  cursor: pointer;
  color: #fff;
  transition: all .2s ease;
}

.page-name::before {
  transition: all .2s ease;
  position: absolute;
  content: '';
  border-width: 0 3px 3px 0;
  padding: 3px;
  transform: rotate(135deg);
  display: block;
  width: 18px;
  height: 18px;
  left: 20px;
  top: 7px;
}

.nav_back-container:hover .page-name::before {
  border-color: #1976d2;
}

.page-name {
  margin-left: 50px;
  font-weight: 500;
  font-size: 22px;
  line-height: 28px;
  line-height: 2rem;
}

.nav_back-container:hover {
  color: #1976d2;
}

.close {
  display: block;
  background-image: url(../../images/ui_styles/close.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 1.25rem;
  height: 1.25rem;
  transition: all .2s ease;
  margin: 0 1rem;
  cursor: pointer;
}

.close:hover {
  transform: rotate(90deg);
}

.home,
.categoriesPage {
  font-weight: 500;
  font-size: 1.375rem;
  line-height: 1.125rem;
  color: rgba(159, 159, 159, 1);
  transition: all .2s ease;
}

.categoriesPage {
  font-weight: 500;
  font-size: 1.375rem;
  line-height: 1.125rem;
  color: #1976d2;
  transition: all .2s ease;
}

.home:hover,
.categoriesPage:hover {
  color: #fff;
}

.active {
  color: #1976d2;
}

.mobile_navigation {
  z-index: 5;
  position: fixed;
  bottom: 0;
  min-height: 75px;
  width: 100%;
  border-top: 2px solid #fff;
  border-radius: 20px 20px 0 0;
  background-color: #000;
}

.mobile_navigation_links {
  margin: 15px 10px 10px;
  display: flex;
  justify-content: center;
  gap: 3rem;
}

.nav-link_mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.categories-link_mobile,
.home-link_mobile,
.galery-link_mobile,
.setting-link_mobile,
.setting-link_mobile_active,
.categories-link_mobile_active,
.home-link_mobile_active,
.galery-link_mobile_active {
  width: 28px;
  height: 28px;
}

.nav-link_mobile {
  color: #fff;
}

.categories-link_mobile {
  background-image: url(../../images/ui_styles/category-link_mobile.svg);
}

.home-link_mobile {
  background-image: url(../../images/ui_styles/home-link_mobile.svg);
}

.galery-link_mobile {
  background-image: url(../../images/ui_styles/galery-link_mobile.svg);
}

.setting-link_mobile {
  background-image: url(../../images/ui_styles/setting-link_mobile.svg);
}

.setting-link_mobile_active {
  background-image: url(../../images/ui_styles/setting-link_mobile_active.svg);
}

.galery-link_mobile_active {
  background-image: url(../../images/ui_styles/galery-link_mobile_active.svg);
}

.categories-link_mobile_active {
  background-image: url(../../images/ui_styles/category-link_mobile_active.svg);
}

.home-link_mobile_active {
  background-image: url(../../images/ui_styles/home-link_mobile_active.svg);
}


@media only screen and (max-width: 799px) {
  .navigation_links {
    gap: 1.5rem;
  }

  .categories_content {
    margin-top: 2rem;
    padding-bottom: 100px;
  }

  .home,
  .categoriesPage {
    font-size: 1.2rem;
    line-height: 0.5rem;
  }

  .categoriesPage {
    font-size: 1.2rem;
    line-height: 0.5rem;
  }
}

@media only screen and (max-width: 519px) {
  .logo {
    transform: scale(0.8, 0.8) translateX(-25%);
  }

  .nav_back-container {
    padding: 0 10px;
  }

  .page-name::before {
    width: 13px;
    height: 13px;
    left: 20px;
    top: 7px;
  }

  .page-name {
    margin-left: 35px;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.5rem;
  }


  .navigation_links {
    gap: 1rem;
  }

  .home,
  .categoriesPage {
    font-size: 1rem;
    line-height: 0.4rem;
  }

  .categoriesPage {
    font-size: 1rem;
    line-height: 0.4rem;
  }

  .categories_content {
    margin-top: 25px;
    padding-bottom: 100px;
  }

  .close {
    background-image: url(../../images/ui_styles/close.svg);
    background-size: cover;
    width: 1.25rem;
    height: 1.25rem;
    margin: 0 0.5rem;
    transform: scale(0.8, 0.8);
  }

  .close:hover {
    transform: scale(0.8, 0.8);
  }


}