.pop-up {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  min-height: 100vh;
}

.pop-up_body {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 500px;
  gap: 10px;
  top: 14%;
  left: calc((100vw - 500px)/2);
  background-color: white;
  border-radius: 20px;
}

.pop-up_image_wrapper {
  position: relative;
  width: 440px;
  border-radius: 20px;
  margin: 30px auto 0;
}

.pop-up_answer-indicator {
  position: absolute;
  width: 65px;
  height: 65px;
  left: 40px;
  top: 400px;
  background-repeat: no-repeat;
}

.pop-up_wrong-answer {
  background-image: url(../../../images/ui_styles/Wrong_answer.svg);
}

.pop-up_right-answer {
  background-image: url(../../../images/ui_styles/Right_answer.svg);
}

.pop-up_image-name {
  font-weight: 500;
  font-size: 32px;
  line-height: 39px;
  text-align: center;
  color: #010101;
}

.pop-up_image-info {
  font-style: italic;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #010101;
}

.pop-up_btn-wrapper {
  margin: 20px 0 30px;
  display: flex;
  justify-content: center;
}

.pop-up_result-img {
  margin: 20px auto;
}

.pop-up_result_image-name {
  font-weight: 500;
  font-size: 50px;
  line-height: 39px;
  text-align: center;
  color: #010101;
}

.pop-up_result_image-info {
  margin: 30px 20px 0;
  font-style: normal;
  font-weight: 400;
  font-size: 42px;
  line-height: 50px;
  text-align: center;
  color: #010101;
}

.pop-up_result_image-info>span {
  font-weight: 700;
  font-size: 82px;
  text-decoration: uppercase;
}

.pop-up_result_btn-wrapper {
  margin: 20px;
  display: flex;
  justify-content: space-around;
}

@media only screen and (max-width: 799px) {
  .pop-up_body {
    width: 480px;
    top: 15%;
    left: calc((100vw - 480px)/2);
    border-radius: 30px;
  }

  .pop-up_image_wrapper {
    position: relative;
    width: 420px;
  }

  .pop-up_answer-indicator {
    top: 380px;
  }

  .pop-up_result-img {
    margin: 10px auto;
  }

  .pop-up_result_image-name {
    font-weight: 500;
    font-size: 45px;
    line-height: 35px;
    text-align: center;
    color: #010101;
  }

  .pop-up_result_image-info {
    margin-top: 10px;
    font-size: 32px;
    line-height: 40px;
  }

  .pop-up_result_image-info>span {
    font-weight: 700;
    font-size: 50px;
    text-decoration: uppercase;
  }
}