.default_btn {
  font-family: 'inherit';
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 22px;
  width: 287px;
  height: 62px;
  border-radius: 60px;
  border: 1.5px solid #fff;
  color: #fff;
  transition: all .2s ease;
  cursor: pointer;
}

.round_btn {
  width: 2.125rem;
  height: 2.125rem;
  border-radius: 50%;
}

.default_btn:hover {
  background-color: #fff;
  color: #000;
}

.default_btn:active {
  background: #FFBCA2;
}

.answer_btn {
  width: 400px;
}

.pop-up_btn {
  border: 1px solid #000;
  color: #000;
}

.pop-up_btn:hover {
  background-color: #000;
  color: #fff;
}

.pop-up_btn:active {
  border: none;
  background: #FFBCA2;
  color: #000;
}

.pop-up_btn_active {
  border: none;
  background: #FFBCA2;
}

.pop-up_btn-short {
  width: 210px;
}